<script type="text/javascript">
  // based on http://stackoverflow.com/a/10300743/280842
  function gen_mail_to_link(hs, subject) {
    var lhs,rhs;
    var p = hs.split('@');
    lhs = p[0];
    rhs = p[1];
    document.write("<a class=\"social-link-item\" target=\"_blank\" href=\"mailto");
    document.write(":" + lhs + "@");
    document.write(rhs + "?subject=" + subject + "\"><i class=\"fa fa-fw fa-envelope\"></i><\/a>");
  }
</script>
<div class="social-links">
  <ul>
    {% if author.email %}<li><script>gen_mail_to_link('{{ author.email }}', 'Hello from website');</script></li>{% endif %}
    {% if author.twitter %}<li><a href="https://twitter.com/{{ author.twitter }}" class="social-link-item" target="_blank"><i class="fab fa-twitter"></i></a></li>{% endif %}
    {% if author.github %}<li><a href="https://github.com/{{ author.github }}" class="social-link-item" target="_blank"><i class="fab fa-github"></i></a></li>{% endif %}
    {% if author.gitlab %}<li><a href="https://gitlab.com/{{ author.gitlab }}" class="social-link-item" target="_blank"><i class="fab fa-gitlab"></i></a></li>{% endif %}
    {% if author.twitch %}<li><a href="https://twitch.tv/{{ author.twitch }}" class="social-link-item" target="_blank"><i class="fab fa-twitch"></i></a></li>{% endif %}
    {% if author.linkedin %}<li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" class="social-link-item" target="_blank"><i class="fab fa-linkedin"></i></a></li>{% endif %}
  </ul>
</div>
